@{ 
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StackOverflowClone.Models.Post


<h1>@Model.Title</h1>
<h2>Rating: @Model.Rating</h2>
<h2>@Model.Author | @Model.Date</h2>
<p>@Model.Body</p>
@Html.ActionLink("UpVfdgkh ", "Upvote", "Posts", new { id = Model.PostId })
@Html.ActionLink("DownVote", "DownVote", "Posts", new { id = Model.PostId })

@foreach(var comment in Model.Comments)
{
    <h3>@comment.Body</h3>
}

<hr />

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("Create", "Comment", FormMethod.Post))
    {
        <input id="PostId" name="PostId" type="hidden" value="@Model.PostId" />

        <label for="Body">Text:</label>
        <input id="Body" name="Body" type="text" />


        <input type="submit" value="Register" />
    }
}
else
{
    <h2>Please log in to comment!</h2>
}