@{ 
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StackOverflowClone.Models.Post


<h1>@Model.Title</h1>
<h2>@Model.Author | @Model.Date</h2>
<p>@Model.Body</p>

@foreach(var comment in Model.Comments)
{
    <h3>@comment.Body</h3>
}


@Html.Partial("CreateComment", new { id = Model.PostId } )

